<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="registration.component.css">

    <title>Register Form</title>

</head>

<body>

    <form class="form">

        <div class="box">

            <h2 class="heading">Register Form</h2>

            <div class="input-boxes">

                <input type="text" placeholder="Firstname">  

            </div>

            <div class="input-boxes">

                <input type="text" placeholder="Lastname">                

            </div>

            <div class="input-boxes">

                <input type="email" placeholder="Email">            

            </div>

            <div class="input-boxes">

                <input type="password" placeholder="Set password">  

            </div>

            <div class="Button-boxes">

                <button class="btn" (click)="alertbox()">Register</button>

            </div>

            <p>Already have an Account? <a href="/login">Login</a></p>

        </div>

    </form>

</body>

</html>

 
