*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: sans-serif;

}

body{

    display: flex;

    align-items: center;

    justify-content: center;

    min-height: 100vh;

    background-color: #21292c;

}

.form{

    width: 350px;

    height: 450px;

    margin: auto;

    border: 10px solid;

    border-image: linear-gradient(45deg,gold,deeppink)1;

    clip-path: inset(0px round 10px);

    animation: hue-rotate(360deg);

}

@keyframes huerotate {

    0%{

        filter: hue-rotate(0deg);

    }

    100%{

        filter: hue-rotate(360deg);

    }

   

}

.box{

    margin-top: 20px;

    text-align: center;

    color: white;

 

}

input{

    margin: 16px;

    width: 170px;

    height: 40px;

    border-radius: 20px;

    text-align: center;

    border: none;

    border-bottom: 2px solid white;

    color:white;

    background:#21292c;

}

input:haver{

    border: 2px solid rgb(53,53,163);

    width: 230px;

    transition: all 0.7s;

}

.btn{

    width: 120px;

    height: 40px;

    border: 2px solid rgb(201, 197, 197);

    background: none;

    color: white;

    font-size: 17px;

    border-radius: 20px;

}

p a{

    text-decoration: none;

    font-size: 22px;

    color: red;

    font-weight: bold;

 

}

